body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #ffffff;
  color: #434455;
}

/* ================================================================ */
/* ========================RESET================================== */

p,
h1,
h2,
h3 {
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
  display: inline-block;
  width: 100%;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

/* ================================================================ */
/* ========================HEADER================================== */

.header {
  background-color: 1px solid rgba(231, 233, 252, 1);
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  margin-right: 0;
  position: relative;
}

.container-header {
  padding-left: 16px;
  padding-right: 16px;
}

.header-navig {
  display: flex;
  align-items: center;
}

.header-navig-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 24px;
  color: rgba(77, 90, 229, 1);
}

.header-logo-span {
  color: #2e2f42;
}

.header-icon {
  display: block;
  margin-left: 0;
  background-color: transparent;
  border: none;
}

.header-navig-menu {
  display: flex;
  text-align: center;
  gap: 40px;
  color: #404bbf;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.header-navig-menu-item-link {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: rgba(46, 47, 66, 1);
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress {
  font-style: normal;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.header-adress-menu {
  display: flex;
  text-align: center;
}

.header-adress-menu-link {
  font-size: 16px;
  line-height: 0.67;
  letter-spacing: 0.02em;
  color: inherit;
  font-style: normal;
  display: inline-block;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navig-menu-item-link-active {
  position: relative;
  color: #404bbf;
}

.header-navig-menu-item-link-active::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.header-navig-menu-item-link:focus,
.header-navig-menu-item-link:hover {
  color: #404bbf;
}

.header-adress-menu-link:hover,
.header-adress-menu-link:focus {
  color: #404bbf;
}

.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 24px 24px 40px 16px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

}

.mob-menu-btn {
  width: 24px;
  height: 24px;
  display: block;
  background: transparent;
  border: 1px solid rgba(231, 233, 252, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
}

.mob-menu-list {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}
.mob-menu-item {
}
.mob-menu-item-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 0.9;
  letter-spacing: 0.02em;
  text-align: left;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-item-link:hover,
.mob-menu-item-link:focus {
  color: rgba(64, 75, 191, 1);
}

.mob-menu-adress-list{
  display: flex;
  flex-direction: column;
  gap:24px;
  margin-bottom: 48px;
}

.mob-menu-adress-menu-link {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 0.83;
  letter-spacing: 0.02em;
  text-align: left;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-adress-menu-link:hover,
.mob-menu-adress-menu-link:focus {
  color: rgba(64, 75, 191, 1);
}

.mob-menu-social-links-list{
  display: flex;
  flex-direction: row;
  gap:40px;
}



/* ================================================================ */
/* ========================SOLUTIONS================================== */

.main-solutions {
  padding-top: 72px;
  padding-bottom: 72px;
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-solutions {
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office-mob-2x.jpg);
  }
}

.container-main-solutions-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.main-solutions-title {
  max-width: 210px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.main-solutions-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(77, 90, 229, 1);
  cursor: pointer;
  flex-grow: 0;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  transition: background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-solutions-btn:focus,
.main-solutions-btn:hover {
  background-color: #404bbf;
}

/* ================================================================ */
/* ========================PRINCIPALS================================== */

.main-principals {
  padding-top: 96px;
  padding-bottom: 96px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.principals-icon {
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  max-width: 263px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.main-principals-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.main-principals-item {
  width: 100%;
}

.main-principals-subtitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: rgba(46, 47, 66, 1);
  margin-bottom: 8px;
  text-align: center;
}

.main-principals-subtitle-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ================================================================ */
/* ========================TEAM================================== */

.team {
  background-color: rgba(244, 244, 253, 1);
  padding: 96px 0px;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: rgba(46, 47, 66, 1);
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team-item {
  background-color: rgba(255, 255, 255, 1);
  border: transparent;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.team-img {
  display: block;
  width: 100%;
  height: auto;
}

.team-item-wrap {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-member {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: rgba(46, 47, 66, 1);
  text-align: center;
  margin-bottom: 8px;
}

.team-member-profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
  text-align: center;
  margin-bottom: 8px;
}

.team-social-links-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

a .team-link-item {
  height: 100%;
  width: 100%;
}

.team-social-links-list-item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-links-items {
  fill: #f4f4fd;
}

.team-link-item:hover,
.team-link-item:focus {
  background-color: #404bbf;
}

/* ================================================================ */
/* ========================PORTFOLIO================================== */

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: rgba(46, 47, 66, 1);
  cursor: pointer;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  align-items: center;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-wrap {
  padding: 32px 16px;
  border: 1px solid rgba(231, 233, 252, 1);
  border-top: none;
}

.portfolio-img-text {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.portfolio-item-parapraph {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  text-align: center;
  position: absolute;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  color: #f4f4fd;
}

.portfolio-item:hover .portfolio-item-parapraph {
  transform: translateY(0%);
  top: 0px;
}

.portfolio-subtitle {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: rgba(46, 47, 66, 1);
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: inherit;
}

/* ================================================================ */
/* ========================FOOTER================================== */

.footer {
  background-color: rgba(46, 47, 66, 1);
  padding-top: 98px;
  padding-bottom: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-footer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 0px; */
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  text-align: center;
  margin-bottom: 18px;
}

.footer-logo-studio {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgba(244, 244, 253, 1);
  max-width: 264px;
  text-align: left;
  margin-bottom: 72px;
}

.footer-social-media {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-social-links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 72px;
}
.footer-social-links-list-item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-item {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-item:hover,
.footer-link-item:focus {
  background-color: #31d0aa;
}

.footer-social-links-items {
  fill: #f4f4fd;
}

.footer-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footer-input {
  background-color: transparent;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  padding-top: 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
}

.footer-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  display: flex;
  background-color: #4d5ae5;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: center;
  border: none;
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.footer-input::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 2px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #ffffff;
}

.footer-modal-icon {
  fill: white;
  margin-left: 16px;
}

/* ================================================================ */
/* ========================BACKDROP================================== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal {
  width: 288px;
  min-height: 584px;
  padding: 72px 16px 24px 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  background-color: rgba(252, 252, 252, 1);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background: rgba(64, 75, 191, 1);
  border: none;
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus-within .modal-btn-icon {
  fill: rgba(255, 255, 255, 1);
}

.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-btn {
  padding: 8px;
}

.modal-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: #2e2f42;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: inherit;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.modal-form-block-comment {
  margin-bottom: 16px;
}

.modal-input-comment {
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  width: 100%;
  height: 120px;
  background-color: inherit;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-input-comment::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  color:rgba(142, 143, 153, 1);

}

.modal-input-comment:hover,
.modal-input-comment:focus {
  border-color: rgba(77, 90, 229, 1);
}

.modal-form-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 8px;
}

.modal-form-input {
  position: relative;
}

.modal-form-block-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .modal-form-icon{
} */

.modal-input:hover,
.modal-input:focus {
  border-color: rgba(77, 90, 229, 1);
}

.modal-form-input:hover .modal-form-block-icon,
.modal-form-input:focus-within .modal-form-block-icon {
  fill: #4d5ae5;
}

.modal-label a {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-align: left;
  color: #4d5ae5;
  display: inline;
  text-decoration: underline;
}
.checkbox-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 24px;
  position: relative;
}

.span-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 4px 3px;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  /* position: absolute; */
  top: 0;
  left: 0;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
}

.modal-checkbox:checked + .modal-label span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.submit-btn {
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px 16px 32px;
  display: block;
  text-align: center;
  background-color: #4d5ae5;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #404bbf;
}

/* ================================================================ */
/* ========================MEDIA  320 PX ================================== */

/* ================================================================ */
/* ========================MEDIA  768 PX ================================== */

@media (max-width: 1157px) {
  .principals-icon {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .main-solutions {
    padding-top: 112px;
    padding-bottom: 112px;
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office-tab.jpg);
  }

  .main-solutions-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }

  .container-main-solutions-wrap {
    gap: 36px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-solutions {
      background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office-tab-2x.jpg);
    }
  }

  .main-principals-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 72px 24px;
  }

  .main-principals-item {
    width: calc((100% - 48px) / 2);
  }

  .main-principals-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: left;
  }

  .team {
    padding-left: 92px;
    padding-right: 92px;
  }

  .team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .portfolio-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .portfolio-item {
    width: cal((100%-48px)/2);
  }

  .container-footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 72px;
    padding-left: 134px;
    padding-right: 148px;
  }

  .footer-first-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 24px;
  }

  .footer-modal {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
  }

  .footer-list-item {
    width: cal((100%-72px)/2);
  }

  .footer-text {
    margin-bottom: 0px;
  }

  .footer-social-links-list {
    margin-bottom: 0px;
  }

  .footer-logo {
    text-align: left;
  }

  .footer-social-media {
    text-align: left;
  }

  .subscribe-title {
    text-align: left;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;
    gap: 24px;
  }

  .header-icon {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
  }

  .container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 105px;
  }

  .header-navig-menu {
    margin-left: 120px;
  }

  .header-navig-menu {
    display: flex;
    gap: 40px;
    color: #404bbf;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    position: relative;
  }

  .header-adress {
    font-style: normal;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    position: relative;
  }

  .header-navig {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-adress-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-adress-menu-link {
    font-size: 14px;
    line-height: 0.85;
    letter-spacing: 0.04em;
    color: inherit;
  }

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 25px 24px 23px;
  }
}

/* ================================================================ */
/* ========================MEDIA  1158 PX ================================== */

@media (min-width: 1158px) {
  .container {
    min-width: 1158px;
    max-width: 1440px;
    padding-left: 156px;
    padding-right: 156px;
  }

  .main-solutions {
    padding-top: 188px;
    padding-bottom: 188px;
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office.jpg);
  }

  .main-solutions-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }

  .container-main-solutions-wrap {
    gap: 48px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-solutions {
      background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office-2x.jpg);
    }
  }

  .principals-icon {
    position: relative;
  }

  .main-principals-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
  }

  .main-principals-item {
    width: calc((100% - 72px) / 4);
    max-width: 284px;
  }

  .main-principals-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 0.8;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: left;
  }

  .main-principals-subtitle-text {
    font-weight: 400;
  }

  .main-principals {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 0;
    padding-right: 0;
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 0;
    padding-right: 0;
  }

  .team-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  .team-list:last-child {
    justify-content: center;
  }

  .team-item {
    width: cal((100%-72px)/4);
  }

  .portfolio-image {
    width: 100%;
    height: 100%;
  }

  .portfolio-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 48px 24px;
  }

  .portfolio-item {
    width: cal((100%-72px)/3);
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container-footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: 80px;
    /* padding-left: 0;
    padding-right: 0; */
  }

  .footer-first-block {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    gap: 120px;
  }

  .footer-logo {
    text-align: left;
  }

  .footer-social-media {
    text-align: left;
  }

  .subscribe-title {
    text-align: left;
  }

  .footer-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;
    gap: 24px;
  }

  .header-icon {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
  }

  .container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 332px;
  }

  .header-navig-menu {
    margin-left: 76px;
  }

  .header-navig-menu {
    display: flex;
    gap: 40px;
    color: #404bbf;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    position: relative;
  }

  .header-adress {
    font-style: normal;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    position: relative;
  }

  .header-navig {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-adress-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 40px; */
  }

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 25px 24px 23px;
  }
}

@media (min-width: 1440px) {
  .header-adress-menu {
    gap: 40px;
  }
}
